/* Global reset and basic styling */
body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

/* Container for the entire page */
.container {
  min-height: 100%; /* Ensures the container takes up at least the full viewport height */
  display: flex; /* Use flexbox for layout */
  flex-direction: column; /* Arrange children vertically */
}

/* Header styling */
header {
  padding: 20px;
  background-color: #f8f9fa;
  text-align: center;
  border-bottom: 1px solid #dee2e6;
  font-size: 1.5rem; /* Reduced font size for the header */
}

/* Observation location section */
.observation-location {
  padding: 20px;
}

.card-primary {
  margin-top: 10px;
}

/* Styling for charts */
.chart {
  margin-bottom: 20px;
  height: 300px; /* Added height to charts for better visualization */
}

.chart-container {
  margin-top: 10px;
}

/* Map container */
#map {
  height: 70vh; /* Adjusted height to take up 70% of viewport height */
}
